@mixin button($color: black, $size: 20px) {
  background-color: $color;
  padding: $size;
  text-decoration: none;
  position: absolute;
}

.shop-button {
  @include button(black, 20px);

  color: $white;
  left: 210px;
  top: 280px;
}

.shop-button:hover {
  @include button(white, 20px);

  color: $black;
}

.write-button {
  @include button(white, 20px);

  color: $black;
}

.write-button:active {
  @include button(black, 20px);

  color: $white;
}

.inspire-button {
  @include button(black, 20px);

  color: $white;
}
