.buy-button {
  background-color: #000;
  padding: 20px;
  color: #fff;
  text-decoration: none;
  align-self: flex-end;
}

.write-button {
  background-color: #fff;
  padding: 20px;
  color: #000;
  text-decoration: none;
}

.inspire-button {
  background-color: #000;
  padding: 20px;
  color: #fff;
  text-decoration: none;
}
